<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyzs.cidyth.module.base.dao.CasesGoodsMapper">
  <resultMap id="BaseResultMap" type="com.hyzs.cidyth.module.base.entity.CasesGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wpbh" jdbcType="VARCHAR" property="wpbh" />
    <result column="ajbh" jdbcType="VARCHAR" property="ajbh" />
    <result column="syzbh" jdbcType="VARCHAR" property="syzbh" />
    <result column="wpmc" jdbcType="VARCHAR" property="wpmc" />
    <result column="wpxz" jdbcType="VARCHAR" property="wpxz" />
    <result column="wpzt" jdbcType="VARCHAR" property="wpzt" />
    <result column="wplb" jdbcType="VARCHAR" property="wplb" />
    <result column="wptz" jdbcType="VARCHAR" property="wptz" />
    <result column="sslx" jdbcType="VARCHAR" property="sslx" />
    <result column="sssj" jdbcType="VARCHAR" property="sssj" />
    <result column="wpys" jdbcType="VARCHAR" property="wpys" />
    <result column="wpcd" jdbcType="VARCHAR" property="wpcd" />
    <result column="wpcp" jdbcType="VARCHAR" property="wpcp" />
    <result column="wpxh" jdbcType="VARCHAR" property="wpxh" />
    <result column="wpsy" jdbcType="VARCHAR" property="wpsy" />
    <result column="wpzd" jdbcType="VARCHAR" property="wpzd" />
    <result column="wpgg" jdbcType="VARCHAR" property="wpgg" />
    <result column="cpys" jdbcType="VARCHAR" property="cpys" />
    <result column="wpcs" jdbcType="VARCHAR" property="wpcs" />
    <result column="wpsl" jdbcType="VARCHAR" property="wpsl" />
    <result column="jldw" jdbcType="VARCHAR" property="jldw" />
    <result column="wpjz" jdbcType="VARCHAR" property="wpjz" />
    <result column="wpzk" jdbcType="VARCHAR" property="wpzk" />
    <result column="wpsz" jdbcType="VARCHAR" property="wpsz" />
    <result column="szdz" jdbcType="VARCHAR" property="szdz" />
    <result column="kysj" jdbcType="VARCHAR" property="kysj" />
    <result column="zhdd" jdbcType="VARCHAR" property="zhdd" />
    <result column="zhry" jdbcType="VARCHAR" property="zhry" />
    <result column="wply" jdbcType="VARCHAR" property="wply" />
    <result column="dsry" jdbcType="VARCHAR" property="dsry" />
    <result column="bgry" jdbcType="VARCHAR" property="bgry" />
    <result column="bgbh" jdbcType="VARCHAR" property="bgbh" />
    <result column="wpcl" jdbcType="VARCHAR" property="wpcl" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="lrsj" jdbcType="VARCHAR" property="lrsj" />
    <result column="lrr" jdbcType="VARCHAR" property="lrr" />
    <result column="departmentcode" jdbcType="VARCHAR" property="departmentcode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createdtime" jdbcType="VARCHAR" property="createdtime" />
    <result column="securitygrade" jdbcType="VARCHAR" property="securitygrade" />
    <result column="reservation01" jdbcType="VARCHAR" property="reservation01" />
    <result column="reservation02" jdbcType="VARCHAR" property="reservation02" />
    <result column="reservation03" jdbcType="VARCHAR" property="reservation03" />
    <result column="reservation04" jdbcType="VARCHAR" property="reservation04" />
    <result column="reservation05" jdbcType="VARCHAR" property="reservation05" />
    <result column="reservation06" jdbcType="VARCHAR" property="reservation06" />
    <result column="reservation07" jdbcType="VARCHAR" property="reservation07" />
    <result column="reservation08" jdbcType="VARCHAR" property="reservation08" />
    <result column="reservation09" jdbcType="VARCHAR" property="reservation09" />
    <result column="reservation10" jdbcType="VARCHAR" property="reservation10" />
    <result column="lastupdatedby" jdbcType="VARCHAR" property="lastupdatedby" />
    <result column="lastupdatedtime" jdbcType="VARCHAR" property="lastupdatedtime" />
    <result column="refreshtime" jdbcType="VARCHAR" property="refreshtime" />
    <result column="uploadflag" jdbcType="VARCHAR" property="uploadflag" />
    <result column="downloadflag" jdbcType="VARCHAR" property="downloadflag" />
    <result column="deleteflag" jdbcType="VARCHAR" property="deleteflag" />
    <result column="reservation11" jdbcType="VARCHAR" property="reservation11" />
    <result column="reservation12" jdbcType="VARCHAR" property="reservation12" />
    <result column="reservation13" jdbcType="VARCHAR" property="reservation13" />
    <result column="reservation14" jdbcType="VARCHAR" property="reservation14" />
    <result column="reservation15" jdbcType="VARCHAR" property="reservation15" />
    <result column="reservation16" jdbcType="VARCHAR" property="reservation16" />
    <result column="reservation17" jdbcType="VARCHAR" property="reservation17" />
    <result column="reservation18" jdbcType="VARCHAR" property="reservation18" />
    <result column="reservation19" jdbcType="VARCHAR" property="reservation19" />
    <result column="reservation20" jdbcType="VARCHAR" property="reservation20" />
    <result column="reservation21" jdbcType="VARCHAR" property="reservation21" />
    <result column="reservation22" jdbcType="VARCHAR" property="reservation22" />
    <result column="reservation23" jdbcType="VARCHAR" property="reservation23" />
    <result column="reservation24" jdbcType="VARCHAR" property="reservation24" />
    <result column="reservation25" jdbcType="VARCHAR" property="reservation25" />
    <result column="reservation26" jdbcType="VARCHAR" property="reservation26" />
    <result column="reservation27" jdbcType="VARCHAR" property="reservation27" />
    <result column="reservation28" jdbcType="VARCHAR" property="reservation28" />
    <result column="reservation29" jdbcType="VARCHAR" property="reservation29" />
    <result column="reservation30" jdbcType="VARCHAR" property="reservation30" />
    <result column="tzms" jdbcType="VARCHAR" property="tzms" />
    <result column="whjz" jdbcType="VARCHAR" property="whjz" />
    <result column="ssjz" jdbcType="VARCHAR" property="ssjz" />
    <result column="zjrq" jdbcType="VARCHAR" property="zjrq" />
    <result column="zjdw" jdbcType="VARCHAR" property="zjdw" />
    <result column="jdjg" jdbcType="VARCHAR" property="jdjg" />
    <result column="jdrq" jdbcType="VARCHAR" property="jdrq" />
    <result column="jddw" jdbcType="VARCHAR" property="jddw" />
    <result column="szwzzl" jdbcType="VARCHAR" property="szwzzl" />
    <result column="zjlb" jdbcType="VARCHAR" property="zjlb" />
    <result column="reserver1" jdbcType="VARCHAR" property="reserver1" />
    <result column="reserver2" jdbcType="VARCHAR" property="reserver2" />
    <result column="reserver3" jdbcType="VARCHAR" property="reserver3" />
    <result column="reserver4" jdbcType="VARCHAR" property="reserver4" />
    <result column="reserver5" jdbcType="VARCHAR" property="reserver5" />
    <result column="reserver6" jdbcType="VARCHAR" property="reserver6" />
    <result column="reserver7" jdbcType="VARCHAR" property="reserver7" />
    <result column="reserver8" jdbcType="VARCHAR" property="reserver8" />
    <result column="reserver9" jdbcType="VARCHAR" property="reserver9" />
    <result column="reserver10" jdbcType="VARCHAR" property="reserver10" />
    <result column="reserver11" jdbcType="VARCHAR" property="reserver11" />
    <result column="reserver12" jdbcType="VARCHAR" property="reserver12" />
    <result column="reserver13" jdbcType="VARCHAR" property="reserver13" />
    <result column="reserver14" jdbcType="VARCHAR" property="reserver14" />
    <result column="reserver15" jdbcType="VARCHAR" property="reserver15" />
    <result column="reserver16" jdbcType="VARCHAR" property="reserver16" />
    <result column="reserver17" jdbcType="VARCHAR" property="reserver17" />
    <result column="reserver18" jdbcType="VARCHAR" property="reserver18" />
    <result column="reserver19" jdbcType="VARCHAR" property="reserver19" />
    <result column="reserver20" jdbcType="VARCHAR" property="reserver20" />
    <result column="reserver21" jdbcType="VARCHAR" property="reserver21" />
    <result column="reserver22" jdbcType="VARCHAR" property="reserver22" />
    <result column="reserver23" jdbcType="VARCHAR" property="reserver23" />
    <result column="reserver24" jdbcType="VARCHAR" property="reserver24" />
    <result column="reserver25" jdbcType="VARCHAR" property="reserver25" />
    <result column="reserver26" jdbcType="VARCHAR" property="reserver26" />
    <result column="reserver27" jdbcType="VARCHAR" property="reserver27" />
    <result column="reserver28" jdbcType="VARCHAR" property="reserver28" />
    <result column="reserver29" jdbcType="VARCHAR" property="reserver29" />
    <result column="reserver30" jdbcType="VARCHAR" property="reserver30" />
    <result column="reserver31" jdbcType="VARCHAR" property="reserver31" />
    <result column="reserver32" jdbcType="VARCHAR" property="reserver32" />
    <result column="reserver33" jdbcType="VARCHAR" property="reserver33" />
    <result column="reserver34" jdbcType="VARCHAR" property="reserver34" />
    <result column="reserver35" jdbcType="VARCHAR" property="reserver35" />
    <result column="reserver36" jdbcType="VARCHAR" property="reserver36" />
    <result column="reserver37" jdbcType="VARCHAR" property="reserver37" />
    <result column="reserver38" jdbcType="VARCHAR" property="reserver38" />
    <result column="reserver39" jdbcType="VARCHAR" property="reserver39" />
    <result column="reserver40" jdbcType="VARCHAR" property="reserver40" />
    <result column="reserver41" jdbcType="VARCHAR" property="reserver41" />
    <result column="reserver42" jdbcType="VARCHAR" property="reserver42" />
    <result column="reserver43" jdbcType="VARCHAR" property="reserver43" />
    <result column="reserver44" jdbcType="VARCHAR" property="reserver44" />
    <result column="reserver45" jdbcType="VARCHAR" property="reserver45" />
    <result column="reserver46" jdbcType="VARCHAR" property="reserver46" />
    <result column="reserver47" jdbcType="VARCHAR" property="reserver47" />
    <result column="reserver48" jdbcType="VARCHAR" property="reserver48" />
    <result column="reserver49" jdbcType="VARCHAR" property="reserver49" />
    <result column="reserver50" jdbcType="VARCHAR" property="reserver50" />
    <result column="reserver51" jdbcType="VARCHAR" property="reserver51" />
    <result column="reserver52" jdbcType="VARCHAR" property="reserver52" />
    <result column="reserver53" jdbcType="VARCHAR" property="reserver53" />
    <result column="reserver54" jdbcType="VARCHAR" property="reserver54" />
    <result column="reserver55" jdbcType="VARCHAR" property="reserver55" />
    <result column="reserver56" jdbcType="VARCHAR" property="reserver56" />
    <result column="reserver57" jdbcType="VARCHAR" property="reserver57" />
    <result column="reserver58" jdbcType="VARCHAR" property="reserver58" />
    <result column="reserver59" jdbcType="VARCHAR" property="reserver59" />
    <result column="reserver60" jdbcType="VARCHAR" property="reserver60" />
    <result column="reserver61" jdbcType="VARCHAR" property="reserver61" />
    <result column="reserver62" jdbcType="VARCHAR" property="reserver62" />
    <result column="reserver63" jdbcType="VARCHAR" property="reserver63" />
    <result column="reserver64" jdbcType="VARCHAR" property="reserver64" />
    <result column="reserver65" jdbcType="VARCHAR" property="reserver65" />
    <result column="reserver66" jdbcType="VARCHAR" property="reserver66" />
    <result column="reserver67" jdbcType="VARCHAR" property="reserver67" />
    <result column="reserver68" jdbcType="VARCHAR" property="reserver68" />
    <result column="reserver69" jdbcType="VARCHAR" property="reserver69" />
    <result column="reserver70" jdbcType="VARCHAR" property="reserver70" />
    <result column="reserver71" jdbcType="VARCHAR" property="reserver71" />
    <result column="reserver72" jdbcType="VARCHAR" property="reserver72" />
    <result column="reserver73" jdbcType="VARCHAR" property="reserver73" />
    <result column="reserver74" jdbcType="VARCHAR" property="reserver74" />
    <result column="reserver75" jdbcType="VARCHAR" property="reserver75" />
    <result column="reserver76" jdbcType="VARCHAR" property="reserver76" />
    <result column="reserver77" jdbcType="VARCHAR" property="reserver77" />
    <result column="reserver78" jdbcType="VARCHAR" property="reserver78" />
    <result column="reserver79" jdbcType="VARCHAR" property="reserver79" />
    <result column="reserver80" jdbcType="VARCHAR" property="reserver80" />
    <result column="datastate" jdbcType="VARCHAR" property="datastate" />
    <result column="datacheck" jdbcType="VARCHAR" property="datacheck" />
    <result column="queryid" jdbcType="VARCHAR" property="queryid" />
    <result column="rkdjsj" jdbcType="VARCHAR" property="rkdjsj" />
    <result column="rkgxsj" jdbcType="VARCHAR" property="rkgxsj" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, wpbh, ajbh, syzbh, wpmc, wpxz, wpzt, wplb, wptz, sslx, sssj, wpys, wpcd, wpcp, 
    wpxh, wpsy, wpzd, wpgg, cpys, wpcs, wpsl, jldw, wpjz, wpzk, wpsz, szdz, kysj, zhdd, 
    zhry, wply, dsry, bgry, bgbh, wpcl, bz, lrsj, lrr, departmentcode, creator, createdtime, 
    securitygrade, reservation01, reservation02, reservation03, reservation04, reservation05, 
    reservation06, reservation07, reservation08, reservation09, reservation10, lastupdatedby, 
    lastupdatedtime, refreshtime, uploadflag, downloadflag, deleteflag, reservation11, 
    reservation12, reservation13, reservation14, reservation15, reservation16, reservation17, 
    reservation18, reservation19, reservation20, reservation21, reservation22, reservation23, 
    reservation24, reservation25, reservation26, reservation27, reservation28, reservation29, 
    reservation30, tzms, whjz, ssjz, zjrq, zjdw, jdjg, jdrq, jddw, szwzzl, zjlb, reserver1, 
    reserver2, reserver3, reserver4, reserver5, reserver6, reserver7, reserver8, reserver9, 
    reserver10, reserver11, reserver12, reserver13, reserver14, reserver15, reserver16, 
    reserver17, reserver18, reserver19, reserver20, reserver21, reserver22, reserver23, 
    reserver24, reserver25, reserver26, reserver27, reserver28, reserver29, reserver30, 
    reserver31, reserver32, reserver33, reserver34, reserver35, reserver36, reserver37, 
    reserver38, reserver39, reserver40, reserver41, reserver42, reserver43, reserver44, 
    reserver45, reserver46, reserver47, reserver48, reserver49, reserver50, reserver51, 
    reserver52, reserver53, reserver54, reserver55, reserver56, reserver57, reserver58, 
    reserver59, reserver60, reserver61, reserver62, reserver63, reserver64, reserver65, 
    reserver66, reserver67, reserver68, reserver69, reserver70, reserver71, reserver72, 
    reserver73, reserver74, reserver75, reserver76, reserver77, reserver78, reserver79, 
    reserver80, datastate, datacheck, queryid, rkdjsj, rkgxsj
  </sql>
</mapper>