<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyzs.cidyth.module.clue.dao.ClueMapper">
  <resultMap id="BaseResultMap" type="com.hyzs.cidyth.module.clue.entity.Clue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ajbh" jdbcType="VARCHAR" property="ajbh" />
    <result column="xqid" jdbcType="INTEGER" property="xqid" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="xsnr" jdbcType="VARCHAR" property="xsnr" />
    <result column="fkry" jdbcType="VARCHAR" property="fkry" />
    <result column="fkdw" jdbcType="VARCHAR" property="fkdw" />
    <result column="fkdwbh" jdbcType="VARCHAR" property="fkdwbh"/>
    <result column="fkrq" jdbcType="TIMESTAMP" property="fkrq" />
    <result column="sffj" jdbcType="INTEGER" property="sffj" /> 
    <result column="smbz" jdbcType="VARCHAR" property="smbz" />
    <result column="lrry" jdbcType="INTEGER" property="lrry" />
    <result column="lrsj" jdbcType="TIMESTAMP" property="lrsj" />
    <result column="xgry" jdbcType="INTEGER" property="xgry" />
    <result column="xgsj" jdbcType="TIMESTAMP" property="xgsj" />
	<result column="mind_top" jdbcType="VARCHAR" property="mindTop" />
	<result column="mind_left" jdbcType="VARCHAR" property="mindLeft" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, ajbh, xqid, theme, xsnr, fkry, fkdw, fkdwbh, fkrq, sffj, smbz, lrry,
    lrsj, xgry, xgsj, mind_top, mind_left
  </sql>
</mapper>