<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyzs.cidyth.module.dic.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.hyzs.cidyth.module.dic.entity.Dictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lxbh" jdbcType="VARCHAR" property="lxbh" />
    <result column="zdj" jdbcType="VARCHAR" property="zdj" />
    <result column="zdz" jdbcType="VARCHAR" property="zdz" />
    <result column="px" jdbcType="INTEGER" property="px" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="smbz" jdbcType="VARCHAR" property="smbz" />
    <result column="lrry" jdbcType="INTEGER" property="lrry" />
    <result column="lrsj" jdbcType="TIMESTAMP" property="lrsj" />
    <result column="xgry" jdbcType="INTEGER" property="xgry" />
    <result column="xgsj" jdbcType="TIMESTAMP" property="xgsj" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, lxbh, zdj, zdz, px, zt, smbz, lrry, lrsj, xgry, xgsj
  </sql>
</mapper>