<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyzs.cidyth.module.trace.dao.TraceMapper">
  <resultMap id="BaseResultMap" type="com.hyzs.cidyth.module.trace.entity.Trace">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gjbs" jdbcType="INTEGER" property="gjbs" />
    <result column="gjdd" jdbcType="VARCHAR" property="gjdd" />
    <result column="gjzp" jdbcType="VARCHAR" property="gjzp" />
    <result column="smbz" jdbcType="VARCHAR" property="smbz" />
    <result column="lrry" jdbcType="INTEGER" property="lrry" />
    <result column="lrsj" jdbcType="TIMESTAMP" property="lrsj" />
    <result column="xgry" jdbcType="INTEGER" property="xgry" />
    <result column="xgsj" jdbcType="TIMESTAMP" property="xgsj" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, gjbs, gjdd, gjzp, smbz, lrry, lrsj, xgry, xgsj
  </sql>
</mapper>